<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>

        <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
        <link rel="stylesheet" href="../static/css/login_page.css">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="backside"></div>
        <div class="login_window">
            <form id="myForm">
                <h1 class="text-member">Member login</h1> 
                <div class="inputBox">
                    <input type="text" id="form-login" required="required">
                    <span>Username</span>
                </div>
                <div class="inputBox">
                    <input type="password" id="form-pass" required="required">
                    <span>Password</span>
                </div>
                <img class="pass-icon" id="pass-icon" src="../static/images/show_password.ico" style="opacity: 0;">
                <input type="button" class="log-in" onclick="submitForm()" value="Login">
                <img class="user" src="../static/images/user.png">
            </form>
            <span class="wrong-data" id="wrong-data" style="opacity: 0;">Wrong password / login</span>
            <input type="button" class="create" value="Create your Account →" onclick="request_Create()">
        </div>
        <script src="../static/scripts-pages/login-script.js"></script>
    </body>
</html>