<!DOCTYPE html>
<html>
    <head>
        <title>Database</title>

        <link rel="icon" type="image/x-icon" href="../static/images/database_icon.ico">
        <link rel="stylesheet" href="../static/css/main_page.css">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <div class="backside">
        <div class="main_back">
            <table class="table_data">
                <tr>
                    <th class="actions-header"></th>
                    <th class="title_name">Name</th>
                    <th class="title">Address</th>
                    <th class="title">Age</th>
                    <th class="title">NumberPhone</th>
                </tr>
                {{range .people}}
                <tr>
                    <td class="actions1"><button class="but" data-editing="false" onclick="edit(this)"><img class="pensil" src="../static/images/edit.ico"></button></td>
                    <td class="name" type="text">{{.Name}}</td>
                    <td class="addres" type="text">{{.Addres}}</td>
                    <td class="age" type="text">{{.Age}}</td>
                    <td class="number" type="text">{{.Nymberphone}}</td>
                    <td class="actions2"><button class="but2"><img class="cancel" src="../static/images/cancel.ico"></button></td>
                </tr>
                {{end}}
            </table>
            <button class="plus"><img class="add" src="../static/images/plus.ico" onclick="new_note()"></button>
            <button class="search"><img class="add" src="../static/images/search.ico"></button>

            <div class="overlay" style="display: none;"></div>

            <form class="add-form" style="display: none;">
                <div class="inputBox">
                    <input type="text" required="required" name="name"><span>Name</span>
                </div>
                <div class="inputBox">
                    <input type="text" required="required" name="address"><span>Address</span>
                </div>
                <div class="inputBox">    
                    <input type="text" required="required" name="age"><span>Age</span>
                </div>
                <div class="inputBox">    
                    <input type="text" required="required" name="numberphone"><span>Numberphone</span>
                </div>  
                <button class="send" type="submit" onclick="return validateForm()">Save</button>
                <button class="cancel"><img src="../static/images/cancel.ico" onclick="hideForm()">
            </form>
            
        </div>    
    </div>
    <script src="../static/scripts-pages/mainpage.js"></script> 
    
</body>
</html>
